/* color palette */
.primary-color { background: #2196F3; }
.primary-dark-color { background: #1976D2; }
.primary-light-color { background: #BBDEFB; }
.accent-color { background: #FF9800; }

.header-text-color { color: #FFFFFF; }
.primary-text-color { color: #212121; }
.secondary-text-color { color: #757575; }

.background-color { color: #FFFFFF; }
.divider-color { background: #BDBDBD; }

.shadow-color {background: #888888;}

html, body {
    font-family: Roboto, Arial, sans-serif;
}

header, footer {
    font-family: Montserrat, Verdana, sans-serif;
}

code {
    font-family: "Roboto Mono", Consolas, sans-serif;
    background: #E0E0E0;
}

.centered {
    text-align: center;
}

/* homepage */
.homepage_header {
    text-decoration: underline;
}

.homepage_column {
    margin: 0 0 15px 0;
    padding: 0 15px 0 15px;
}

.homepage_section-heading {

}

.homepage_section-paragraph {
    text-indent: 1em;
}

/* tutorial */
.tutorial_header {
    text-decoration: underline;
}

.tutorial_content-row {
    margin: 30px;
}

.tutorial_quiz-btn {
    padding: 10px;
    margin-bottom: 10px;
}
/* Wells for all pages */
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}
/* Button */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
