/* color palette */
.primary-color { background: #2196F3; }
.primary-dark-color { background: #1976D2; }
.primary-light-color { background: #BBDEFB; }
.accent-color { background: #FF9800; }

.header-text-color { color: #FFFFFF; }
.primary-text-color { color: #212121; }
.secondary-text-color { color: #757575; }

.background-color { color: #FFFFFF; }
.divider-color { background: #BDBDBD; }

.shadow-color {background: #888888;}

html, body {
    font-family: Roboto, Arial, sans-serif;
}

header, footer {
    font-family: Montserrat, Verdana, sans-serif;
}

code {
    font-family: "Roboto Mono", Consolas, sans-serif;
    background: #E0E0E0;
}

.centered {
    text-align: center;
}

/* homepage */
.homepage_header {
    text-decoration: underline;
}

.homepage_column {
    margin: 0 0 15px 0;
    padding: 0 15px 0 15px;
}

.homepage_section-heading {

}

.homepage_section-paragraph {
    text-indent: 1em;
}

/* tutorial */
.tutorial_header {
    text-decoration: underline;
}

.tutorial_content-row {
    margin: 30px;
}

.tutorial_quiz-btn {
    padding: 10px;
    margin-bottom: 10px;
}
/*Webinar */
.webinars{
  margin: 20px;
}

/*Top Margin for rows*/
.top-buffer{
    margin-top: 20px;
}
